.header
  .col-lg-12
.container#page
  .row
    .col-sm-8
      %h2 Kiinteistösi parhaaksi
      %p Moneko Oy on vuonna 2007 perustettu kiinteistöpalveluita tuottava yritys. Yritys on yksi alan nopeimmin kasvavista erikoispuhdistuksiin keskittyneistä palveluntarjoajista. Asiakkaitamme ovat  mm. kaupankohteet ja kokonaisratkaisuja tuottavat kiinteistöpalveluiden markkinajohtajat.
      %br
      Perusperiaatteittamme ovat laatutakuu ja toimitusvarmuus. Työntekijämme ovat kokeneita alan ammattilaisia, ja kaikkien osaamista päivitetään jatkuvasti.
      %h3 Etsimme jatkuvasti uusia kiinteistöalan osaajia kasvavaan joukkoomme!
      Mikäli olet kiinnostunut työskentelemään kasvavassa ja kehittyvässä yrityksessä ja omaat riittävän kokemuksen alasta täytä oikeassa yläkulmassa oleva yhteydenottolomake. Kerro hieman itsestäsi niin otamme sinuun yhteyttä kun osaamistasi vastaava paikka on vapaana.
    .col-sm-4
      %h2 Yhteystiedot
      %address
        %strong Moneko oy
        %br
        Gyldenintie 10 B
        %br
        00200 Helsinki
        %br
        %abbr{title: "Phone"}
          P
        020 286 1200
      %address
        %strong Raimo Saariaho
        %br
        raimo.saariaho (at) moneko.fi
  %hr
  .row
    .col-sm-4.col-xs-12
      = image_tag("http://placehold.it/200x200", 
        class: "img-circle img-responsive img-center")
      %h2 Ikkunanpesu
      %p Ikkunanpesu keskisuuriin ja suuriin kohteisiin
    .col-sm-4.col-xs-12
      = image_tag("http://placehold.it/200x200", 
        class: "img-circle img-responsive img-center")
      %h2 Lattioiden peruspesu
      %p Lattianpesu keskisuuriin ja suuriin kohteisiin
    .col-sm-4.col-xs-12
      = image_tag("http://placehold.it/200x200", 
        class: "img-circle img-responsive img-center")
      %h2 Muut erikoissiivoukset
      %p Yläpölyimuroninnit, saniteettitilojen pesut, liukuportaiden pesut ja muut päivittäissiivouksen ulkopuoliset tehtävät.
