%h3= @user.name
%img{"class" => "img-rounded"}

/%ul.nav.nav-tabs#usertabs
/  %li.active= link_to "Koti", "#home", data: { toggle: "tab" }
/  %li= link_to "Kalenteri", "#calendar", data: { toggle: "tab" }
/  %li= link_to "Tuntirekisteri", "#register", data: { toggle: "tab" }

%p 
  %b Veronumero:
  %br
  %b Syntymäaika:

%h3 Työt
= render 'jobs/table'
%h3 Kalenteri
#user_calendar.span8

= render 'shared/modal'
