#jobmodal.modal.fade{"tabindex" => -1, :role => "dialog", "aria-labelledby" => "jobmodallabel"}
  .modal-dialog
    .modal-content
      .modal-header
        %h3 Rekisteröi työ
      .modal-body#modalcontent
        %p Lataa....
