%h1 Työmääräykset
%p 
  Tästä näet kaikki luodut työmääräykset ja niiden nykyiset tilat. 
  Allaolevasta kalenterista voit luoda uuden työmääräyksen. 
  Luomallesi työmääräykselle annetaan automaattisesti uniikki työnumero, 
  jonka avulla voit aina viitata ristiriidattomasti samaan työhön.

#all_orders_cal
= render 'shared/modal'
