%table.table.table-striped
  %thead
    %tr
      %th Asiakas
      %th Kohde
      %th Päivitetty
  %tbody
    -@offers.each do |offer| 
      %tr
        %td= offer.customer
        %td= link_to offer.target, offer
        %td= offer.updated_at.to_time

%p= link_to "Luo uusi tarjous", new_offer_path
