// Place all the styles related to the Offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h4 {
  color: darkorange;
}
.entry { page-break-inside: avoid }
body {
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0px solid;
}

@media print {
  div.offerHeader {
    position: fixed;
    top: 0;
  }
  div.offerFooter {
    position: fixed;
    bottom: 0;
  }
  div.navbar {
    display: none;
  }
}
